<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
  <title>Practicas</title>

  <style>
    #tlr{
      list-style: none;
      display: flex;
      gap: 10px;
    }
  </style>
</head>

<body>

  <div class="container-fluid">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">
          IDGS-801
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link active">
                <i class="bi bi-house"></i>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a href="/operaciones" class="nav-link">
                <i class="bi bi-calculator"></i>
                Operaciones
              </a>
            </li>
            <li class="nav-item">
              <a href="/puntos" class="nav-link">
                <i class="bi bi-bezier2"></i>
                Puntos
              </a>
            </li>
            <li class="nav-item">
              <a href="/resistencia" class="nav-link">
                <i class="bi bi-book-half"></i>
                Resistencia
              </a>
            </li>
            <li class="nav-item">
              <a href="/palabras" class="nav-link">
                <i class="bi bi-book-half"></i>
                Palabras
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container-fluid" style="padding: 60px 20px;">
      {% block container %}

      {% endblock %}
    </div>
  </div>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  
</body>

</html>