
{%macro camposNuevos(field)%}

<td>{{field.label}}</td>
<dd>{{field(**kwargs)|safe}}</dd>
{%if field.errors   %}
    <ul>
        {%for error in field.errors%}
            <li style="color:red;">{{error}}</li>
        {%endfor%}
    </ul>
{%endif%}
{%endmacro%}
{%macro camposResistencia(field,listaColores)%}
<label style="text-transform: capitalize;"></label>
<div>
    <select name="{{field.name}}" id="{{field.id}}" class="{{kwargs.class}}">
        {%for colores in listaColores%}
        <option value="{{colores}}">{{colores}}</option>
        {%endfor%}
    </select>
</div>
{%endmacro%}

{% macro campoTolerancia(field) %}
    <input type="radio" class="btn-check" name="{{ field.name }}" id="{{ field.id }}_oro" value="oro">
    <label class="btn btn-outline-secondary" for="{{ field.id }}_oro">Oro</label>

    <input type="radio" class="btn-check" name="{{ field.name }}" id="{{ field.id }}_plata" value="plata">
    <label class="btn btn-outline-secondary" for="{{ field.id }}_plata">Plata</label>
{% endmacro %}

{% macro palabraRadio(field) %}
    <input type="radio" class="btn-check" name="{{ field.name }}" id="{{ field.id }}_ingles" value="ingles">
    <label class="btn btn-outline-secondary" for="{{ field.id }}_ingles">ingles</label>

    <input type="radio" class="btn-check" name="{{ field.name }}" id="{{ field.id }}_ingles" value="plata">
    <label class="btn btn-outline-secondary" for="{{ field.id }}_español">español</label>
{% endmacro %}
